@import '../main/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.contact{
    width: 100vw;
    height: 100vh;
    background-color: $main-color;
    padding: 30px 0;
    &__title{
        color: $third-color;
        font-size: 7rem;
        text-align: center;
        font-family: 'Dancing Script', cursive;
    }
    &__content{
        margin: 50px 0;
        &__title{
            color: $third-color;
            font-size: 4rem;
            text-align: center;
        }
    }
    &__text{
        text-align: center;
        font-size: 2rem;
        color: $third-color;
    }
    &__map{
        display: block;
        margin: auto;
        width: 900px;
        height: 350px;
    }
}