@import '../main/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.about{
    width: 100vw;
    height: 100vh;
    background-color: $main-color;
    &__title{
        color: $third-color;
        font-size: 7rem;
        text-align: center;
        font-family: 'Dancing Script', cursive;
    }
    &__box{
        margin: 80px 0;
        display: flex;
        align-items: center;
    }
    &__foto{
        width: 400px;
        height: 400px;
        margin: 0 40px;
    }
    &__text{
        width: 55%;
        font-size: 2rem;
        color: $third-color;
        margin: 20px 20px;
        font-family: 'Dancing Script', cursive;
    }
}